html {
    scroll-behavior: smooth;
}

body {
    margin: 0%; /*ensures content displays all the way to user's browser*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* { /* all elements on the page */
    box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
} 

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%; /*adds margin above*/
}

h1:hover {
    transform: scale(1.1); /* This makes the h1 increase slightly in size when hovered over */
    transition: transform 1s; /* This makes the transform effect last 1 second */
}

img {
    display: block; /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}

p:hover {
    transform: scale(1.01); /* This makes the paragraphs increase slightly in size when hovered over */
    transition: transform 1s; /* This makes the transform effect last 1 second */
}

a {
    color: rgb(65, 65, 199); /* Links will appear in this color */
    text-decoration: none; /* Overwrites the default underline of links */
    cursor: pointer;
}

/*Navbar styling*/

.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 2s; /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 2s; /* This applies the moveNav animation for all other browsers */
    background-color: rgb(252, 251, 251);
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {left: -100vw;} /* The navbar is starting off screen to the left */
    to {left: 0vw;} /* This moves the navbar into place on the screen */
}
 
/* Navbar links */
.Navbar a {
    float: left; /* This specifies that the text floats on the left on the navbar */
    display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: rgb(64, 63, 63);
    padding: 14px 16px; /* This adds padding around our text */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-size: 15px; /* This specifies the font size for text on our navbar */
    text-align: center; /* This centers the text within its container */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 1s; /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 1s; /* Applies the moveNavText animation for 5.75s */ 
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {top: -100vw;} /* This sets the navbar text 100% above the viewport */
    to {top: 0vw;} /* This lowers the navbar text onto the navbar */
}

@media screen and (max-width: 576px) {
    .Navbar a{
        width: 25%; /*This makes each link take up 1/4 of the navbar*/
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: rgb(255,196,112); /*when hovering over the navbar, the background color will change to yellow */
    color: rgb(81, 76, 76); /*when hovering over the navbar, the text color will change to grey */
    font-weight: bold;
}


.Navbar a.active { /*The currently active part of the navbar will remain this color*/
    background-color: rgb(255,196,112);
}

/*End of Navbar styling*/

/*Home section background image and text styling*/

#homeimage {
    position: fixed; /*fixes video to page*/
    left: 0%; /*no space btw edge of video and edge of page*/
    right: 0%; 
    bottom: 0%;
    z-index: -1; /* This places the image behind the other elements on the page */
    height: 105%;
    display: block;
}

/*Apply a gradient color over the image */
.Home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(206, 131, 2, 0.5), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 576px) {
    #homeimage {
        display: none;
    }
}

.Opening_Text {
    padding: 20px; /* This adds padding around the background image text container so that the background goes slightly beyond the text */
    position: relative; /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveImageText 5.75s;
    animation: moveImageText 5.75s;
    margin-top: 100px;
}

/* This animation effect causes the background image text to move up from the bottom of the page upon page load */
@keyframes moveImageText {
    from {top: -40vw;} /* This sets the position of the background image text to above the viewport */
    to {top: 0vw} /* This moves the background image text to the normal positioning on the viewport */
}

#hello-text {
    color: #FFC470;
    margin-top: 8%;
    font-size: 90px;
}

#introduction-text {
    text-align: center;
    color: #FFC470;
}

/*On hover the text above the background image will be slightly bigger */
#introduction-text:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*End of Home section background image styling*/

/* The @media rule is used in media queries to apply different styles for different media/types of devices */
/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Projects section styling */

#Projects {
    width: 100%; /* This ensures the column takes up half of the page width */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    background-color: #fefefe; /* Sets the background color of the columns with class Column_1 */
    margin-top: 30%;
}

#Projects h1{
    padding-top: 50px;
    padding-bottom: 30px;

}

.Column_projects_1 {
    float: right;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    height: auto; /* This sets the height of the column to 400px */
}

.Column_projects_1 img{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.Column_projects_1 h3{
    padding-left: 40px;
}

.Column_projects_2 {
    float: left;
    width: 50%; /* This ensures the column takes up half of the page width */
    padding-top: 3%; /* This ensures there is space between the top of the column and our headings */
    height: auto; /* This sets the height of the column to 400px */
}

.Column_projects_2 h3{
    padding-left: 40px;
}

.Column_projects_2 img{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_projects_1 {
        overflow: auto;
    }

    .Column_projects_2 {
        overflow: auto;
    }
}

/* End of Projects section styling */

/* About section styling */

#About {
    width: 100%; /* This ensures the column takes up half of the page width */
    padding: 100px;
    background-color: #fefefe; /* Sets the background color of the columns with class Column_1 */
}

#About h1{
    padding-bottom: 30px;
}

#About img:hover {
    transition: transform 1s; /* Transition lasts 1 second */
	transform: scale(1.1); /* Image is increased slightly when hovered over */
    filter: grayscale(7%);
}

.Column_about_1 {
    float: right;
    width: 50%; /* This ensures the column takes up half of the page width */
    height: 800px; /* This sets the height of the column to 400px */
    background-color: white;
}

.Column_about_1 img{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    border-radius: 300px;
    max-width: 60%; /* Ensures all images stay within the width of their container */
    height: auto; /* Sets the height of all images */
    filter: grayscale(20%);
}

.Column_about_1 p{
    text-align: justify;
    font-size: 20px;
}

.Column_about_1 img{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 70px;
    border-radius: 300px;
    max-width: 65%; /* Ensures all images stay within the width of their container */
    height: auto; /* Sets the height of all images */
    filter: grayscale(20%);
}

.Column_about_2 {
    float: left;
    width: 50%;
    height: 800px;
    background-color: white;
}

.Column_about_2 p{
    text-align: justify;
    font-size: 20px;
}

/* Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width: 576px) {
    .Column_about_1 {
        overflow: auto;
    }

    .Column_about_2 {
        overflow: auto;
    }
}

/* This inserts something after the elements with class "Row" */
.Row:after {
	content: ""; 
    /* By leaving this blank, we are allowing the footer (covered lower down) 
    to be displayed - removing it makes the footer overwrite a column */
	display: table; 
    /* The display property specifies the type of display behavior; 
    the table value tells the browser to treat the element as a table */
	clear: both; 
    /* This clears any other elements from floating on the left or the 
    right of an element */
}

/* End of About section styling */

/* Social media icons styling */

.social-media-icons {
    margin-top: 40px;
}

.social-media-icons a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

#igicon {
    margin: 0 10px;
}

.social-media-icons a:hover {
    color: #0073b1; /* LinkedIn color */
}

.social-media-icons a:hover .fa-instagram {
    color: #E4405F; /* Instagram color */
}

.social-media-icons a:hover .fa-github {
    color: #5f5e5e; /* GitHub color */
}

/* End of social media icons styling */

/*Contact form styling*/

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: rgb(255,196,112);
    color: rgb(81, 76, 76);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input, .form-container textarea {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* When the inputs get focus, do this */
.form-container input:focus, .form-container textarea:focus{
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.form-container .btn {
    background-color: rgb(255,196,112);
    color: rgb(81, 76, 76);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

/* Add a darker yellow background color to the cancel button */
.form-container .cancel {
    background-color: rgb(250, 161, 35);
}

/* Add hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    font-weight: bold;
    background-color: #f9b454;
}

/* Add hover effects to cancel button */
.form-container .cancel:hover {
    font-weight: bold;
    background-color: #f9970e;
}

/*End of Contact form styling*/

/* Footer styling */
footer {
    padding: 2%; /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: white;
    color: rgb(64, 63, 63);
    margin-left: 70px;
}
footer p{
    font-size: 15px;
}
/* End of styling for footer element */

/*Media Query Section*/

/*Media rules for paragraph font size for different screen sizes*/
@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.25vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/*Screens 1080px and smaller will display navbar links equally distributed */

@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /*This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/*Media rules to enlarge the font of the white text for smaller screens*/
@media screen and (max-width: 1080px) {
    #hello-text {
        font-size: 4.5vw;
    }
}

/*Media rules to increaase the size of the columns for larger screens */
@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }

    .Column_2 {
        height: 550px;
    }
}

/*Media rule to remove margin-top from h1 elements for extra
large screens (so that the paragraph text fits in the column*/

@media screen and (min-width: 2000px) {
    h1 {
        margin-top: 0;
    }
}

/*End of Media Query Section */