body {
  color: #393f4d;
}

h1 {
  font-family: Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-family: Tahoma, sans-serif;
  text-align: center;
}

h3 {
  font-family: Tahoma, sans-serif;
}

.projectlist li {
  font-weight: bolder;
  font-size: 20px;
}

.projectlist h5 {
  font-style: italic;
}

.about li {
  font-weight: bolder;
}

.about img {
  float: right;
  margin-left: 10px;
  margin-right: 15px;
}

.projectbox {
  margin: 15px;
  margin-left: 0px;
  border: 2px;
  padding: 7px;
  background-color: #caebf2;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.aboutelements {
  font-size: 17px;
}

.column {
  width: 70px;
  float: left;
  margin-left: 0px;
  border: 2px;
  padding: 4px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  display: block;
  color: #393f4d;
  text-align: center;
  padding: 14px 16px;
  text decoration: none;
  background-color: #efefef;
}

.menu li a:hover {
  color: #ff3b3f;
}

a:hover {
  text-decoration: none;
}

.button {
  background-color: #efefef;
  border: none;
  color: #393f4d;
  padding: 15px 25px;
  text-align: center;
  font-size: 23px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.wrapper {
  text-align: center;
}

.button:hover {
  background-color: #caebf2;
